* {
    margin: 0;
}

.menu li {
    list-style: none;
    display: inline-block; 
    padding: 5px;
    width: 100px;
    margin: 1% 20px 0 20px;
    text-align: center;
    color: dimgray;
}

.menu{
    position: absolute;
    right: 0;
}

.portfolio {
    font-family: Didot LT Std;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px; 
    position: absolute;
    color: dimgray;
    margin-left: 2%;
    margin-top: 0.6%;
    border-bottom: 3pt solid dimgray;
    margin-top: 0.4%;
    padding: 5px;
    width: 80px;
    text-align: center;
}

li,
.portfolio {
    font-family: montserrat;
    font-style: normal;
    font-weight:normal;
    font-size: 100%; 
    user-select: none;
    margin-bottom: 3pt;
}

li:hover {
    margin-bottom: 0;
    border-bottom: 3pt solid rgba(174, 93, 89, 0.81);
    border-left: 2px; 
    border-right: 2px;
}

.portfolio:hover {
    font-weight: bold;
}


h3 {
position: absolute;
margin:auto;
top: 10%;
right: 0;
left: 0;
bottom: 0;
font-family: Didot LT Std;
font-style: normal;
font-weight: bold;
font-size: 34px;
text-align: center;
color: dimgray;
}



.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    

}


.coluna {
    flex: 1;
    margin-top: 10%
        
}


.img1{
    width: 50%;
    padding: 4vw 2vw 0 20vw;
}


p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 4vw 20vw 0 2vw;
}

@media screen and (max-width: 770px) {
        
        
.container {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin:auto;
    top: 10%;
    right: 0;
    left: 0;
    bottom: 0;
        
        }
    p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 4vw 20vw 0 20vw;
}
 
    .menu{
        position: absolute;
        right: 0;
        left: 100px;
}

}